        body {
            background-image: url("../static/hello1.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
		
        .container {
            background-color: green;
            padding: 20px;
            margin-top: 20px;
            text-align: center;
        }