*.sql linguist-detectable=true
*.sql linguist-language=SQL
*.sql text
*.htaccess linguist-detectable=true
*.htaccess linguist-language=ApacheConf
*.htaccess text
*.yaml linguist-detectable=true
*.yaml linguist-language=YAML
*.yaml text
*ESP32Camera/app_httpd.cpp linguist-detectable=false
*Deep-Learning-Platform/detect.py linguist-detectable=false
*Pixy2Setup/Pixy2SPI_SS.h linguist-detectable=false
*Pixy2Setup/ZumoMotors.cpp linguist-detectable=false
*Pixy2Setup/ZumoMotors/ZumoMotors.h linguist-detectable=false


