RewriteEngine on
AddHandler application/x-httpd-ea-php74 .php .php7 .phtml
RewriteRule ^example$ example.html [L,NC]
RewriteRule ^mysql - [F,L]
ErrorDocument 404 https://data.uzay.info
ErrorDocument 403 https://data.uzay.info

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
